<!DOCTYPE html>
<html>
  <head>
    <title>Cpm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-nav navbar-inverse navbar-fixed-top">
      <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'CPM Dashboard', root_url, :class => 'navbar-brand' %></li>
      </div> 
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <p class="navbar-text pull-right">
            <% if user_signed_in? %>
              <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
              <li><a href="#"><i class="icon-user icon-white"></i> Logged in as <strong><%= current_user.email %></strong></a></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              <li></li>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
            </p>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
